.gome-top{
    position: relative;
    border-bottom: 1px solid #f3f3f3;
    background: #f8f8f8;
    width:100%;
    height: 30px;
    color: #5e5e5e;
    z-index: 999;
    ul .hover{
        background:#fff;
        
    }
    ul li.hover .public-dropdown{
        border: 1px solid #e6e6e6;
        border-top: none;
        padding: 10px 15px;
        background: #fff;
        z-index:1000;
    }
    @mixin gome-top-b{
            font-weight: 400;
            display: block;
            padding: 0 20px 0 10px;
            border: 1px solid #f8f8f8;
            border-bottom: 0;
            height: 30px;
            overflow: hidden;
            position: relative;
            z-index: 9;
    }
    @mixin gome-top-b-i{
        position: absolute;
        top: 12px;
        right: 8px;
        width: 0px;
        height: 0px;
        overflow: hidden;
        border-width:4px;
        border-style: solid;
        border-color:#666 transparent transparent transparent ;
        
    }
    @mixin gome-top-b-i-hover{
        border-color:transparent transparent #666 transparent;
        top:8px;
    }
    @mixin gome-top-public-dropdown{
        position: absolute;
        top: 30px;
        background: #fff;
        height: 0;
        left: 0;
        overflow: hidden;
    }
    #gome-top-body{
        position: relative;
        background: #f8f8f8;
        height: 30px;
        border-bottom: 1px solid #f3f3f3;
        //nav左侧;
        #gome-top-left{
            >li{
                float: left;
                position: relative;
                font: 400 12px/30px Arial,"Microsoft YaHei";
                a{
                     color: #888;
                }
            }
            #gome-entry-link{
                margin: 0 10px;
                height: 30px;
                overflow: hidden;
                a{
                    cursor: pointer;
                    color: #5e5e5e;
                    line-height: 32px;
                    i{
                        width: 13px;
                        height: 12px;
                        margin-right: 5px;
                        display: inline-block;
                    }
                }
                &:hover{
                    a{
                       color:#f5004b; 
                    }
                    
                }
            }
            .gome-spacer{
                width: 1px;
                height: 11px;
                margin: 10px 0 0;
                padding: 0;
                background: #e6e6e6;
                overflow: hidden;
            }
            
            #gome-user{
                margin-right: 12px;
                >b{
                    color: #5e5e5e;
                    @include gome-top-b;
                    a{
                        display:inline-block;
                    }
                    i{
                        @include gome-top-b-i;
                    }
                }
                &:hover{
                    i{
                        @include gome-top-b-i-hover;
                    }
                }
                &:hover b a{
                    color:#f5004b;
                }
                .public-dropdown{
                        @include gome-top-public-dropdown;
                        width: 290px;
                        #user-name{
                            padding: 5px 0 20px;
                            overflow: hidden;
//                          border-left:1px solid #E6E6E6;
//                          border-right:1px solid #E6E6E6;
                            @mixin user-name-p{
                                color: #888;
                                width: 100%;
                                line-height: 16px;
                                overflow: hidden;
                            }
                            i{
                                float: left;
                                width: 55px;
                                height: 55px;
                                border-radius: 50px;
                                display: inline-block;
                                vertical-align: middle;
                                background:#ccc;
                            }
                            div{
                                float: left;
                                font: 400 12px/20px Arial,"Microsoft YaHei";
                                padding: 0 0 0 15px;
                                width: 200px;  
                                .user-name-login{
                                    padding-top: 20px;
                                }
                                p{
                                    color: #888;
                                    width: 100%;
                                    line-height: 16px;
                                    overflow: hidden;
                                    a{
                                        color: #069;
                                    }
                                }                         
                            }
                        }
                    }
            }
            .gome-link{
                height: 30px;
                overflow: hidden;
                margin: 0;
                //登录/注册;
                a{
                    margin-right: 10px;
                    line-height: 32px;
                    &:hover{
                        color:#f5004b;
                    }
                }
                .gome-link-register{
                    color: #f5004b;
                    i{
                        display: inline-block;
                        width: 12px;
                        height: 13px;
                        margin-left: 5px;
                        margin-top: -4px;
                        background:url(../img/ui.png) no-repeat -145px -1496px;
                    }
                }
                
            }
            //user-icon;
            #user-icon{
//              border-left:1px solid #E6E6E6;
//              border-right:1px solid #E6E6E6;
//              border-bottom:1px solid #E6E6E6;
                
//              width:290px;
//              padding:0 10px;
                border-top: 1px solid #f3f3f3;
                padding-top: 15px;
                position: relative;
                p{
                    line-height: 18px;
                    overflow: hidden;
                    a{
                        color: #888;
                        float:right;
                        &:hover{
                            color:#f5004b;
                        }
                    }
                    span{
                        color:#ccc;
                        float:left;
                    }
                }
                .user-icon-prev{
                    position: absolute;
                    top: 54px;
                    left: 10px;
                    width: 16px;
                    height: 29px;
                    line-height:29px;
                    background:#ccc;
                    text-align:center;
                    font-size:20px;
                    color:#888;
                    cursor: pointer;
                    display: inline-block;
                    &:hover{
                        opacity:0.6
                    }
                }
                .user-icon-next{
                    position: absolute;
                    top: 54px;
                    right:10px;
                    width: 16px;
                    height: 29px;
                    cursor: pointer;
                    line-height:29px;
                    background:#ccc;
                    text-align:center;
                    font-size:20px;
                    color:#888;
                    display: inline-block;
                    &:hover{
                        opacity:0.6
                    }
                }
                >div {
                       margin: 10px 25px 0;
                     ul{
                         left:0;
                        height: 70px;
                        overflow: hidden;
                        li{
                            text-align: center;
                            position: relative;
                            font: 400 12px/30px Arial,"Microsoft YaHei";
                            a{
                                color: #ccc;
                                i{
                                    display: block;
                                    height: 40px;
    //                              background: red;
                                    font-size: 40px;
                                    line-height: 40px;
                                    vertical-align: middle;
                                    
                                }
                            }
                        }
                    }    
                    
                }
            }
        }
        //nav右侧;
        #gome-top-right{
            float: right;
            li{
                float: left;
                position: relative;
                font: 400 12px/30px Arial,"Microsoft YaHei";
                a{
                    color:#888;
                }
            }
            .gome-link{
                height: 30px;
                overflow: hidden;
                margin: 0;
                a{
                    margin-right: 10px;
                    line-height: 32px;
                    &:hover{
                        color:#f5004b;
                    }
                }
            }
            #gome-mygome{
                b{
                    @include gome-top-b;
                    i{
                        @include gome-top-b-i;
                    }
                }
                &:hover{
                    i{
                        @include gome-top-b-i-hover;
                    }
                    b>a{
                        color:#f5004b;
                    }
                }

                .public-dropdown{
                    @include gome-top-public-dropdown;
                    width:260px;
                    z-index:100;
                    strong{
                        display: block;
                        font-weight: 700;
                        padding: 10px 10px 0;
                        font: 12px/24px Arial,"Microsoft YaHei";
                        color: #888;
                        a{
                            color: #069;
                        }
                    }
                    #mygome-order{
                        padding: 0 0 9px;
                        margin: 0 10px;
                        border-bottom: 1px solid #f3f3f3;
                        overflow: hidden;
                        li{
                            float: left;
                            width: 50%;
                            line-height: 25px;
                            height: 25px;
                            a{
                                &:hover{
                                    color:#f5004b;
                                }    
                            }
                        }
                    }
                    #mygome-coupon{
                        padding-left: 4px;
                        li{
                            float: left;
                            width: 63px;
                            text-align: center;
                            padding: 8px 0 10px;
                            a{
                                display: block;
                                line-height: 14px;
                                margin: 5px 0;
                                border-right: 1px solid #f3f3f3;
                               &:hover{
                                    color:#f5004b;
                                } 
                            }
                            span{
                                width: 100%;
                                margin: 0;
                                display: inline-block;
                                vertical-align: middle;
                                color: #cdcdcd;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                        }
                    }
                    p{
                        clear: both;
                        background: #f8f8f8;
                        padding: 10px;
                        overflow: hidden;
                    }
                    #mygome-track{
                        background: #f8f8f8;
                        padding: 0 0 18px 10px;
                        height: 50px;
                        overflow: hidden;
                        li{
                            float: left;
                            width: 50px;
                            height: 50px;
                            margin: 0 12px 10px 0;
                            background:#ccc;
                        }
                    }
                }
            }
            .gome-spacer{
                width: 1px;
                height: 11px;
                margin: 10px 0 0;
                padding: 0;
                background: #e6e6e6;
                overflow: hidden;
            }
            .gome-link{
                height: 30px;
                overflow: hidden;
                margin: 0;
                a{
                    margin-left: 10px;
                    margin-right: 10px;
                    line-height: 32px;
                    &:hover{
                        color:#f5004b;
                    }
                }
            }
            #gome-service{
                b{
                    @include gome-top-b;
                    i{
                        @include gome-top-b-i;
                    }
                    em{
                        font-size: 17px;
                        color: #dd00a7;
                        background: 0 0;
                        line-height: 30px;
                        position:absolute;
                        left:10px;
                        width:18px;
                        height: 30px;
                        top: 0;
                        margin-right:6px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                &:hover{
                    i{
                        @include gome-top-b-i-hover;
                    }
                    b>a{
                        color:#f5004b;
                    }
                }
                .public-dropdown{
                    @include gome-top-public-dropdown;
                    width:210px;
                    p{
                        font: 700 12px/24px Arial,"Microsoft YaHei";
                        color: #898989;
                        a{
                           &:hover{
                              color:#f5004b; 
                           } 
                        }
                    }
                    ul{
                        padding: 0 0 10px;
                        height: 48px;
                        overflow: hidden;
                        li{
                            float: left;
                            font: 12px/24px Arial,"Microsoft YaHei";
                            width: 33%;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            a{
                                &:hover{
                                    color:#f5004b; 
                                }
                            }
                        }
                    }
                    .live800-service{
                        color: #fff;
                        background: #dd00a7;
                        text-align: center;
                        display: block;
                        line-height: 25px;
                        height: 25px;
                        cursor: pointer;
                        font-weight: 400;
                        margin-top: 4px;
                        em{
                            font-size: 19px;
                            line-height: 25px;
                            height: 25px;
                            color: #fff;
                            background: 0 0;
                            top: 5px;
                            left: 10px;
                            width: 18px;
                            margin-right: 6px;
                        }
                    }
                }
                
            }
            #gome-sitemap{
                position:static;
                .hover{
                    background:#fff;
                    
                }
                .hover .public-dropdown{
                    border: 1px solid #e6e6e6;
                    border-top: none;
                    padding: 10px 0;
                    background: #fff;
                }
               b{
                    @include gome-top-b;
                    i{
                        @include gome-top-b-i;
                    }
                }
                &:hover{
                    i{
                        @include gome-top-b-i-hover;
                    }
                    b>a{
                        color:#f5004b;
                    }
                } 
                .public-dropdown{
                    @include gome-top-public-dropdown;
                    z-index:100;
                    width:1198px;
                    //overflow: visible;
                    dl{
                        float: left;
                        padding: 0 15px 0 40px;
                        border-left: 1px solid #f3f3f3;
                        margin: 15px 0;
                        dt{
                            font: 700 14px/14px Arial,"Microsoft YaHei";
                            margin: 0 0 14px;
                        }
                        dd{
                            overflow: hidden;
                            min-height: 120px;
                            ul{
                                float: left;
                                width: 75px;
                                li{
                                    width: 100%;
                                    text-align: left;
                                    font: 12px/24px Arial,"Microsoft YaHei";
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    a{
                                       &:hover{
                                           color:#f5004b;
                                       } 
                                    }
                                }
                            }
                        }
                        &:nth-of-type(1){
                            border:none;
                        }
                    }
                }
            }
            #gome-phone{
                .hover{
                    background:#fff;
                    
                }
                .hover .public-dropdown{
                    border: 1px solid #e6e6e6;
                    border-top: none;
                    padding: 15px;
                    background: #fff;
                    font-size: 0;
                    height: 170px;
                }
                b{
                    @include gome-top-b;
                    i{
                        @include gome-top-b-i;
                    }
                    em{
                        font-size: 17px;
                        color: #dd00a7;
                        background: 0 0;
//                      background:url(../img/ui.png) no-repeat;
                        line-height: 30px;
                        position:absolute;
                        left:10px;
                        width:18px;
                        height: 30px;
                        top: 0;
                        margin-right:6px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                .public-dropdown{
                    @include gome-top-public-dropdown;
                    z-index:100;
                    left: auto;
                    right: 0;
                    width: auto;
//                  overflow: visible;
                    
                    a{
                        display: inline-block;
                        height: 190px;
                        width: 130px;
                       background:url(../img/ui.png) no-repeat 0 -793px;
                        
                    }
                }
                &:hover{
                    i{
                        @include gome-top-b-i-hover;
                    }
                    b>a{
                        color:#f5004b;
                    }
                }
            }
        }
    }
    .wbox{
        width: 1200px;
        margin: 0 auto;
    }
}
//head-top e;

//cart start;
.cart_headwrap{
    width:100%;
    height:180px;
    margin-bottom: 20px;
    .cart_head{
        width:990px;
        height:120px;
        margin:0 auto;
        .logo{
            width:125px;
            height:56px;
            float: left;
            margin: 32px 10px 0 0;
            a{
                display:block;
                width:125px;
                height:56px;
                background:url(../img/logos.png) no-repeat 0 0;
            }
        }
        .cart_title{
            width:135px;
            height:120px;
            float: left;
            padding: 0 40px 0 0;
            background:url(../img/gwc.png) no-repeat 0 32px;
        }
    }
    .login{
        width:990px;
        height:60px;
        margin:0 auto;
        background:pink;
        margin-bottom: 30px;
    }
}
.cart_areawrap{
    position: relative;
    width:100%;
    margin-bottom:20px;
    overflow: hidden;
    .cart_area{
        width:990px;
        margin:0 auto;
        .qx_box{
            width:40px;
            height:38px;
            text-align:center;
        }
        .list_head{
            width:100%;
            height:38px;
            background:#f3f3f3;
            line-height:38px;
            font-size:12px;
            li{
                float:left;
                height:38px;
                line-height:38px;
            }
            
            .qx{
                width:91px;
            }
            .pro_msg{
                width:389px;
            }
            .pro_price{
                width:89px;
                padding-left:22px;
                padding-right:40px;
            }
            .pro_num{
                width:80px;
                //text-align: center;
            }
            .xj{
                width:155px;
                text-indent:15px;
            }
            .cz{
                width:68px;
            }
        }
        .gome_zy{
            width:100%;
            height:38px;
            li{
                float:left;
                height:38px;
                line-height:38px;
            }
            .zy{
                height:24px;
                padding:7px 0;
                span{
                    display:block;
                    width:58px;
                    height:24px;
                    line-height:24px;
                    text-align: center;
                    font-size:12px;
                    background:red;
                    color:#fff;
                }
            }
        }
        .list_cnt{
            width:988px;
            border:1px solid #cecece;
            padding-bottom: 20px;
            .cur_pro{
                width:100%;
                height:123px;
                border-bottom: 1px solid #cecece;
                background:pink;
                li{
                  float:left;  
                }
                .qx_box{
                    width:40px;
                    height:57px;
                    line-height:57px;
                }
                .pro_pic{
                    width:84px;
                    height:84px;
                    padding:19px;
                    a{
                        display:block;
                        width:82px;
                        height:82px;
                        border:1px solid #CECECE;
                        img{
                            width:82px;
                            height:82px;
                        }
                    }
                }
                .pro_name{
                    width:208px;
                    padding:20px 0 5px;
                    .name_t{
                        width:208px;
                        height:38px;
                        a{
                            display:block;
                            width:208px;
                            height:38px;
                            font-size:12px;
                            color:#666;
                            span{
                                float:left;
                                color: red;
                                border: 1px solid red;
                                border-radius: 3px;
                                padding: 0px 2px;  
                            }
                            b{
                                display:block;
                                float:left;
                                width:126px;
                                height:34px;
                                overflow: hidden;
                                margin-left:3px;
                            }
                            &:hover{
                                color: red;
                            }
                        }
                    }
                    .name_b{
                        width:208px;
                        height:16px;
                        i{
                            display:block;
                            float:left;
                            width: 16px;
                            height: 16px;
                            background-image:url(../img/sprite.png);
                            background-position: -278px -65px;
                        }
                        span{
                            float:left;
                            font-size:12px;
                            color:red;
                            margin-left:5px;
                        }
                    }
                }
                .banben{
                    width:146px;
                    height:120px;
                }
                .dan_price{
                    width:135px;
                    padding:20px 0;
                    div{
                        padding-left: 22px;
                        padding-right: 40px;
                    }
                }
                .pro_num{
                    width:80px;
                    padding:20px 0;
                    .num_box{
                        width:80px;
                        height:20px;
                        border:1px solid #cecece;
                    }
                    span{
                        display:block;
                        float:left;
                        width:15px;
                        height:20px;
                        line-height: 20px;
                        text-align: center;
                        background:#fff;
                    }
                    .jian{
                        border-right:1px solid #cecece;
                        cursor: pointer;
                    }
                    .jia{
                        border-left:1px solid #cecece;
                        cursor: pointer;
                    }
                    .change_num{
                        float:left;
                        outline: none;
                        border:0;
                        width:48px;
                        height:20px;
                    }
                    
                }
                .curpro_tol{
                    width:105px;
                    padding:20px 25px;
                    font-weight: 800;
                }
                .delete{
                    margin-left:20px;
                    width:60px;
                    padding:20px 0;
                    p{
                        a{
                            color:#666;
                            font-size:12px;
                            cursor:pointer;  
                            &:hover{
                                color: red;
                                
                            }
                        }
                    }
                }
            }
//          .hover{
//              background:pink;
//          }
        }
    }
#delete{
    display:none;
    width:400px;
    height:140px;
    border:1px solid #cecece;
    position:absolute;
    left:50%;
    margin-left:-200px;
    bottom:50px;
    background:#fff;
    z-index: 1000;
    i{
        position:absolute;
        display:block;
        width:12px;
        height:12px;
        text-align: center;
        line-height: 12px;
        right:6px;
        top:6px;
        color:#cecece;
        cursor: pointer;
    }
    .body{
        padding: 28px 20px 28px 30px;
        overflow: hidden;
        span{
            display: block;
            float:left;
            width:39px;
            height:39px;
            background:url(../img/sprite.png) no-repeat -448px 0;
        }
        .cnt{
            float:left;
            margin-left:10px;
            h4{
                margin:0;
                padding:0;
                font-size:16px;
                font-weight: 600;
                margin-bottom: 10px;
            }
            p{
                font-size:14px;
            }
        } 
    }
    .q_x{
        position:absolute;
        left:80px;
        top:90px;
        span{
            float:left;
            cursor: pointer;
            display: block;
            width:50px;
            height:30px;
            border:1px solid #cecece;
            line-height:30px;
            text-align: center;
            font-size:12px;
             margin-right:10px;
             border-radius:2px;
        }
        .q_xbtn{
            &:hover{
                background:#ccc;
            }
        }
        .q_rbtn{
            color:#fff;
            border:0;
            width:52px;
            height:32px;
            line-height: 32px;
            background: red;
            &:hover{
                opacity: .5;
            }
        }
    }
}
}
.cart_footwrap{
    font-size: 12px;
    width:100%;
    height:60px;
    background:#F3F3F3;
    .cart_foot{
        width:990px;
        height:60px;
        margin:0 auto;
        ul{
            float:left;
            li{
                float:left;
            }
        }
        .left{
            width:132px;
            height:60px;
            padding-left:18px;
            .qx_box{
                width:40px;
                line-height:60px;
                height:60px;
            }
            .delete_q{
                width:92px;
                height:60px;
                height:60px;
                a{
                    display:block;
                    height:60px;
                    line-height: 60px;
                    color:#666;
                    cursor: pointer;
                    &:hover{
                        color:red;
                    }
                }
            }
        }
        .right{
            float:right;
            height:60px;
            li{
                height:60px;
                line-height:60px;
                .totalNum{
                    color:red;
                    font-weight:800;
                }
                
            }
            .pro_tolmoney{
                margin-left:40px;
                em{
                    display:block;
                    float:left;
                    line-height:60px;
                    height:60px;
                }
                b{
                    color:red;
                    display:block;
                    float:left;
                    font-weight: 800;
                    font-size:22px;
                    height:60px;
                    line-height:60px;
                }
            }
            .jie_suan{
                margin-left:20px;
                width:136px;
                height:60px;
                a{
                    display:block;
                    width:136px;
                    height:60px;
                    background:red;
                    color:#fff;
                    font-size:18px;
                    line-height: 60px;
                    text-align: center;
                    &:hover{
                        opacity: .7;
                    }
                }
            }
        }
    }
}


html,body{
    width:100%;
    height:100%;
}
.meng_ban{
    display: none;
    width:100%;
    height:100%;
    background:#666;
    opacity: .5;
    position:fixed;
    left:0;
    top:0;
    z-index: 995;
}
//cart end;

#gome-foot{
    border-top: 1px solid #dd00a7;
    background: #f7f7f7;
    margin-top: 15px;
    zoom: 1;
    #gome-foot-box{
        position: relative;
        width: 1200px;
        margin: 0 auto;
        padding: 20px 0 0;
        background: #f7f7f7;
        span{
            display: inline-block;
            padding: 0 50px 40px 0;
            
            i{
                display: block;
                width: 45px;
                height: 45px;
                background:url(../img/ui.png) no-repeat 0 -135px;
                float: left;
            }
            p{
                margin-left: 10px;
                font: 12px/20px Arial,"Microsoft YaHei";
                float: left;
                width: 210px;
                overflow: hidden;
                height: 45px;
                strong{
                    display: block;
                    font: 400 16px/25px Arial,"Microsoft YaHei";
                    color:#333;
                }
                a{
                    color: #999;
                    &:hover{
                        color:red;
                    }
                }
            }
            
        }
        .ued i {
            background-position: -45px -135px;
        }
        .qrcode-section{
            position: absolute;
            right: -10px;
            top: 15px;
            font-size: 0;
            .code-sm {
                width: 50px;
                margin: 0 10px;
                display: inline-block;
                vertical-align: top;
                text-align: center;
                position: relative;
                i{
                    width: 40px;
                    height: 25px;
                    background:url(../img/ui.png);
                    display: inline-block;
                }
                p{
                    font: 12px/22px Arial;
                    color: #999;
                }
                div{
                    position: absolute;
                    left: -50px;
                    bottom: 54px;
                    z-index: 1000;
                    padding: 10px;
                    border: 1px solid #eee;
                    display: none;
                    background: #fff;
                    img{
                        display: block;
                        width: 171px;
                    }
                    .icon-triangle {
                        position: absolute;
                        height: 8px;
                        width: 13px;
                        left: 68px;
                        background:url(../img/ui.png) no-repeat -67px -127px!important;
                        top: 100%;
                    }
                }
            }
            .code-bg {
                width: 110px;
                display: inline-block;
                vertical-align: top;
                text-align: center;
                position: relative;
                i{
                    width: 90px;
                    height: 90px;
                    background:url(../img/ui.png);
                    display: inline-block;
                    a{
                        display: block;
                        width: 90px;
                        height: 90px;
                        img{
                            width: 90px;
                            height: 90px;
                        }
                    }
                }
                p{
                    text-align: center;
                }
            }
            .wx i {
                background-position: -105px -135px;
            }
            .wap i {
                background-position: -185px -135px;
            }
            .app i {
                background-position: 0 -246px;
            }
        }
        ul{
            overflow: hidden;
            li{
                float: left;
                font: 12px/22px Arial,"Microsoft YaHei";
                padding: 0 13px 0 0;
                color: #ccc;
                white-space: nowrap;
                a{
                    color: #666;
                    cursor: pointer;
                    &:hover{
                        color:red;
                    }
                }
            }
        }
        p{
            font: 12px/22px Arial;
            color: #999;
            .interDrug {
                color: #999;
                &:hover{
                    color:red;
                }
            }
        }
        .gome-foot-credit {
            border-top: 1px solid #e6e6e6;
            margin-top: 5px;
            padding: 10px 0 25px;
            //_height: 100%;
            overflow: hidden;
            i{
                display: block;
                width: 35px;
                height: 35px;
                background:url(../img/ui.png) no-repeat 0 -180px;
                float: left;
            }
            b{
                font: 12px/18px Arial,"Microsoft YaHei";
                display: block;
                width: 50px;
                float: left;
                color: #999;
                padding: 0 30px 0 5px;
            }
            .credit-baxx b {
                width: 60px;
            }
            .credit-xypj i {
                background-position: -35px -180px;
            }
            .credit-cxwz i {
                background-position: -70px -180px;
            }
            .credit-cxwz b {
                padding-top: 9px;
            }
            .credit-hdjc i {
                background-position: -105px -180px;
            }
            .credit-wgdj i {
                background-position: -140px -180px;
            }
            .credit-wgdj b {
                padding-top: 9px;
                width: 60px;
            }
            .credit-report i {
                background-position: -175px -180px;
            }
            .credit-report b {
                width: 110px;
            }
        }
        .turst-gome{
            position: absolute;
            width: 95px;
            height: 30px;
            bottom: 27px;
            right: 0;
            background:url(../img/ui.png) no-repeat -168px -1165px;
            display: none;
            
                
           
        }
    }
}